@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


 :root {
    --cor0: #B1EBDF;
    --cor1: #3f3fb5;
    --cor2: #4A4Ad2;
    --cor3: #2B2B7A;

    --font-padão: Arial, Verdana, Helvetica, sans-serif; 
    --font-destaque: "Work Sans", sans-serif;
}

 * {
    margin: 0px;
    padding: 0px;
 }

 



