@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
     :root {

        --cor0: #26C2FF;
        --cor1: #0B4279;
        --cor2: #F7F7F7;
        --cor3: #A3F178;
        --cor4: #003B71;

        --font-padrão: Arial, Helvetica, Verdana, Sans-serif;
        --font-destaque: "Work Sans", sans-serif;
     }
       
     * {
        padding: 0px;
        margin: 0px;
     }
       
        nav.principal {
            background-color: var(--cor1);
            padding: 10px;
            font:normal normal 1.8em var(--font-destaque);
            text-align: center;
        }

        nav.principal a {
            padding: 0px 30px;
            color: white;
            text-decoration: none;
        }
        nav.principal a:hover {
            text-decoration: underline;
            color: var(--cor0);
            background-color: darkorange;
            border-radius: 10px;
        }

        nav.normal a {
            font-family: var(--font-destaque);
            background-color: #0B4279;
            color: white;
            padding: 10px 30px;
            text-decoration: none;
            margin: 20px 80px;
            
        }

        .normal a:hover {
            background-color: var(--cor0);
            color:  black;
            text-decoration: underline;
            border-radius: 10px;
        }

        
        img {
            width: 100%;
            margin-bottom: 20px;
        }

           

        main {
            background-color: white;
           max-width: 1000px;
           min-width: 300px;
            padding: 10px;
            margin: auto;
            
        }

        main h2 {
            background-image: linear-gradient(to right, var(--cor3), transparent);
            
            margin: 20px;
            font: normal bold 1.8em var(--font-destaque);


        }
         main p {
                 text-align: justify;
            text-indent: 30px;
            padding: 20px;
            margin: 15px 0px ;
            font: normal normal 1em var(--font-padrão);
            line-height: 1.5em;
            }

            aside ol {
                list-style-position: inside;
                list-style-type: none;
                margin-bottom: 30px;
                columns: 2;
            }

            div.video {
                background-color: #0B4279;
                position: relative;
                margin: 0px -20px 30px -20px ;
                padding: 20px;
                padding-bottom: 50%;
            }
            div.video > iframe {
                position: absolute;
                top: 5%;
                left: 5%;
                width: 90%;
                height: 90%
            }
            footer {
                background-color: #0B4279;
                color: white;
                text-align: center;
                padding: 10px;
            }



        
    