@charset "UTF-8";

 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
     :root {

        --cor0: #26C2FF;
        --cor1: #0B4279;
        --cor2: #F7F7F7;
        --cor3: #A3F178;
        --cor4: #003B71;

        --font-padrão: Arial, Helvetica, Verdana, Sans-serif;
        --font-destaque: "Work Sans", sans-serif;
     }
       
     * {
        padding: 0px;
        margin: 0px;
     }
       
        nav.principal {
            background-color: var(--cor1);
            padding: 10px;
            font:normal normal 1.8em var(--font-destaque);
            text-align: center;
        }

        nav.principal a {
            padding: 0px 30px;
            color: white;
            text-decoration: none;
        }
        nav.principal a:hover {
            text-decoration: underline;
            color: var(--cor0);
        }

            main p {
                 text-align: justify;
            text-indent: 30px;
            }

           
      

        main {
            background-color: white;
           
            padding: 10px;
            margin: auto;
            
        }
    